services:
  backend:
    build:
      context: .
    container_name: mern-backend
    ports:
      - "5000:5000"
    environment:
      NODE_ENV: production
      MONGO_URI: ${MONGO_URI}
      JWT_SECRET: ${JWT_SECRET}
      FRONTEND_URL: ${FRONTEND_URL}
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - mern-network

networks:
  mern-network:
