body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom right, #1e1e6e, #320b5d);
  color: rgba(199, 190, 202, 1);
  min-height: 100vh;
}
.result-wrapper {
  text-align: center;
  padding: 2rem;
}
.result-wrapper h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: rgb(149, 149, 247);
}
.back-button {
  text-align: center;
  margin-top: 30px;
}
.back-button button {
  background-color: rgba(91, 140, 209, 0.8);
  color: white;
  padding: 10px 25px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.back-button button:hover {
  background-color: #256ea8;
}
