.stats {
  margin: 3rem auto;
  padding: 2rem;
  text-align: center;
  color: rgba(199, 190, 202, 1);
}
.stats h3 {
  font-size: 2rem;
  color: rgb(149, 149, 247);
  margin-bottom: 1.5rem;
}
.stat-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}
.stat-card {
    background-color: rgba(91, 140, 209, 0.8);
  padding: 1.5rem 2rem;
  border-radius: 12px;
  min-width: 220px;
  max-width: 300px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}
.stat-card:hover {
  transform: translateY(-5px);
}
.stat-card h4 {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 0.5rem;
}
.stat-card p {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(173, 216, 230);
}
