.contact-heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: white;
}
.contact-subtext {
  text-align: center;
  font-size: 1.1rem;
  color: #aaa;
  margin-bottom: 1.5rem;
}
